@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Glober Regular";
  src: url(/fonts/glober-regular.woff) format("woff2");
}

@font-face {
  font-family: "Glober ExtraBold";
  src: url(/fonts/glober-extrabold.woff) format("woff2");
}

:root {
  --foreground: var(--mantine-color-white);
  --background: var(--mantine-color-black);
  --transition: 300ms all ease-in-out;
}

h1,
h2,
h4,
b {
  font-family: "Glober ExtraBold";
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a:not(.logo):not(.mantine-Button-root),
.link {
  font-size: var(--input-fz, var(--input-fz, var(--mantine-font-size-sm)));
  color: var(--mantine-color-dimmed);
  transition: var(--transition);
}

a:not(.logo):not(.mantine-Button-root):hover,
.link:hover {
  color: var(--mantine-color-anchor);
  cursor: pointer;
}

.muted {
  color: var(--mantine-color-dimmed);
}
